<?php include ("C:/wamp64/www/Retropugv3/php/connect_database.php"); ?>

<div ng-controller="hostroom-Controller">
    <div class="panel top-bar col-xs-12">
        <center><h1 style="font-size:36px;">Host a room</h1></center>
    </div>
    <div class="col-xs-12 panel">
        <center><form action="http://retropugv3/php/hostroom.php" method="post">

        <label>Select a game:</label>
        <select name="game">
            <option value="Dota 2">Dota 2</option>
            <option value="League of Legends">League of Legends</option>
            <option value="Heroes of the Storm">Heroes of the Storm</option>
            <option value="Overwatch">Overwatch</option>
            <option value="Rocket League">Rocket League</option>
        </select>    

        <label>Number of players:</label>
        <select name="numplayers">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>    
        </select>      

        <label class="checkbox">
        <input type="checkbox"> Toggle to allow guests to join.
        </label>
		<button class="btn btn-primary" type="submit" name="submit" value="Submit">Submit</button>

        </form></center>
    </div>
</div>

<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/popover.js"></script>
    <script src="js/scrollspy.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/util.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/button.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/collapse.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
    <script src="./js/app.js"></script>