<div ng-controller="Home-Controller">
    <div class="panel top-bar col-xs-12">
        <h1 align="center" style="font-size:36px;">HOME PAGE</h1>
    </div>
    <div class="col-xs-12 panel" align="center">
       <img src="/views/PugRetro.png" alt="" style="width:190px; height:190px;"></img>
       
       <h2>“It’s time to ditch Skype and TeamSpeak.”</h2>
       <h1 style="font-style: italic;">Our web app is a 3rd party pickup group initiator. We’re easy, fast, and free. Get started today!</h1>
       Using the all-in-one voice and text chat Discord, queue up to join a lobby or create your own. It’s time to simplify your gaming experience.
       <br><br>
       <a class="btn btn-primary" href="https://discordapp.com/api/download?platform=win">Download Discord for Windows</a>
       <a class="btn btn-primary" href="https://discordapp.com/register">Register with Discord</a>
	   
    </div>
</div>

 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Retropugv3/js/jquery.js"></script>
    <script src="/Retropugv3/js/bootstrap.js"></script>
    <script src="/Retropugv3/js/modal.js"></script>
    <script src="/Retropugv3/js/popover.js"></script>
    <script src="/Retropugv3/js/scrollspy.js"></script>
    <script src="/Retropugv3/js/tab.js"></script>
    <script src="/Retropugv3/js/tooltip.js"></script>
    <script src="/Retropugv3/js/util.js"></script>
    <script src="/Retropugv3/js/alert.js"></script>
    <script src="/Retropugv3/js/button.js"></script>
    <script src="/Retropugv3/js/carousel.js"></script>
    <script src="/Retropugv3/js/collapse.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
    <script src="/Retropugv3/js/app.js"></script>