<div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 hidden-xs hidden-sm">
                <div class="row panel top-bar">
                    <div class="col-xs-10 col-xs-offset-1">
                      <h1 class="title">PuG*L1F3 V. 1.0</h1>
                    </div>
                </div>
                <div class="row panel">
                    <div class="col-xs-10 col-xs-offset-1">
                        <a class="btn btn-group btn-block btn-success btn-lg" href="#!/">Homepage</a>
                        <a class="btn btn-group btn-block btn-success btn-lg" href="#!/guest/join">Join Room</a>
                        <a class="btn btn-group btn-block btn-success btn-lg" href="#!/profile">Profile</a>
                        <a class="btn btn-group btn-block btn-success btn-lg" href="#!/guest/login">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                    <div class="ng-view"></div>
            </div>
        </div>
    </div><!-- /container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
<script src="/Retropugv3/js/app.js"></script>