<div ng-controller="Ban Profile-Controller">
    <div class="panel top-bar col-xs-12">
        <center><h2 style="font-size:36px;">Ban User Page</h2></center> 
    </div>
    
    <div class="col-xs-12 panel">
        <center>
            
            <table>
            <thead>
                <tr align="center">
                    <th>Discord Name</th>
                </tr>
            </thead>
            <tbody>         
                <tr align="center">
                    <td>DagPark</td>
                </tr>
            </tbody>
            </table>
            
            <br>

            <table>
                <thead>
                    <tr align="center">
                        <th>Review Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
                        <td>4</td>
                    </tr>
                </tbody>            
            </table> 
        </center>
    </div>    
    
    <div class="col-xs-12 panel"> 
        <center>       
        <table>
            <thead>
                <tr align="center">
                    <th>Discord Name</th>
                </tr>
            </thead>
            <tbody>         
                <tr align="center">
                    <td><input type="text" class="input-block-level" placeholder="DagPark"></td>
                </tr>
            </tbody>
        </table>       
        
        <br>
        
        <div class="form-actions">
        <button type="submit" class="btn btn-primary">Ban User</button>
        <button type="button" class="btn">Cancel</button>
        </div>
        </center>
    </div>
</div>