<div ng-controller="profile-Controller">
    <div class="panel top-bar col-xs-12">
        <center><h2 style="font-size:36px;">PROFILE</h2></center> 
    </div>
    
    <div class="col-xs-12 panel">
        <center>
            
            <table>
            <thead>
                <tr align="center">
                    <th>Discord Name</th>
                </tr>
            </thead>
            <tbody>         
                <tr align="center">
                    <td>DagPark</td>
                </tr>
            </tbody>
            </table>
            
            <br>

            <table>
                <thead>
                    <tr align="center">
                        <th>Review Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
                        <td>4</td>
                    </tr>
                </tbody>            
            </table> 
        </center>
    </div>    
    
    <div class="col-xs-12 panel"> 
        <center>       
        <table>
            <thead>
                <tr align="center">
                    <th>Discord Name</th>
                </tr>
            </thead>
            <tbody>         
                <tr align="center">
                    <td><input type="text" class="input-block-level" placeholder="DagPark"></td>
                </tr>
            </tbody>
        </table>       
        
        <br>
        
        <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn">Cancel</button>
		 <td> <a class="btn btn-group btn-primary" href="#!/admin/admin">Registered User Roster</a> </td>
        </div>
        </center>
    </div>
</div>

<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/modal.js"></script>
    <script src="js/popover.js"></script>
    <script src="js/scrollspy.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/util.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/button.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/collapse.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
    <script src="./js/app.js"></script>